<div class="container text-center bg-danger p-5">
    <h1>CONTACTS</h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores fugit sapiente incidunt? Cumque, dolore. Harum delectus autem nihil eius aliquid praesentium, dolore magni. Fugit animi quae, cupiditate impedit nisi dolorem, voluptatibus tempore iste laboriosam facere excepturi unde ea temporibus ut expedita quas consequatur totam. Nihil ex modi illo, tempora qui perferendis? Quod debitis illum quasi aut reprehenderit neque earum illo incidunt odio exercitationem esse tempora veniam fugiat inventore voluptatem porro architecto doloremque dolores ullam, consequatur quae ad sint rerum temporibus. Nulla, illum asperiores nostrum consequatur ex necessitatibus quia. Enim eligendi nobis quam illo sed consequatur maxime, quia aliquam incidunt voluptas?
    </p>
</div>
