<div class="container text-center bg-danger">
    <h1 class="text-uppercase text-warning fw-bolder">New Exercise</h1>
    <div class="row g-3">
        <ng-container *ngIf="userInput">
            <div class="col">
                <div class="text-start border bg-light p-3 rounded h-100">
                    <h3 class="text-success text-center text-uppercase fw-bold">User</h3>
                    <br />
                    <table class="table table-striped table-dark rounded" [style]="'overflow:hidden;'">
                        <thead class="table-dark h4">
                            <tr>
                                <th class="text-start" [style]="'padding-bottom:10px;'">
                                    User Name
                                </th>
                                <th class="text-end">
                                    <button class="btn btn-danger px-5" type="button" (click)="allUserRemove()">
                    Remove
                  </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let data of userArr; index as i">
                                <tr class="h5">
                                    <td class="text-start" [style]="'padding-top: 13px;'">
                                        {{ i + 1 }}.
                                        <strong class="text-warning"> {{ data.name }}</strong>
                                    </td>
                                    <td class="text-end">
                                        <button class="btn btn-danger px-5" type="button" (click)="singleRemove(i)">
                      Remove
                    </button>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="adminInput">
            <div class="col">
                <div class="text-start border bg-light p-3 rounded h-100">
                    <h3 class="text-success text-center text-uppercase fw-bold">Admin</h3>
                    <br />
                    <table class="table table-striped table-dark rounded" [style]="'overflow:hidden;'">
                        <thead class="table-dark h4">
                            <tr>
                                <th class="text-start" [style]="'padding-bottom:10px;'">
                                    Admin Name
                                </th>
                                <th class="text-end">
                                    <button class="btn btn-danger px-5" type="button" (click)="allRemove()">
                    Remove
                  </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let data of adminArr; index as i">
                                <tr class="h5">
                                    <td class="text-start" [style]="'padding-top: 13px;'">
                                        {{ i + 1 }}.
                                        <strong class="text-warning">
                      {{ data.name }}
                    </strong>
                                    </td>
                                    <td class="text-end">
                                        <button class="btn btn-danger px-5" type="button" (click)="singleAdminRemove(i)">
                      Remove
                    </button>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </ng-container>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-md-6 ps-0">
            <app-child-exercise [boxColor]="userColorSet"[placeHolderText]="'Add user...'" [arrData]="userArr" [inData]="userInput" (inValue)="myUserValue($event)">
            </app-child-exercise>
        </div>

        <div class="col-md-6 pe-0">
            <app-child-exercise [boxColor]="adminColorSet" (inValue)="myAdminValue($event)" [inData]="adminInput" [arrData]="adminArr" [placeHolderText]="'Add admin...'"></app-child-exercise>
        </div>
    </div>

    <br />
    <br />
</div>