<div class="container border p-5 pt-3 text-center">
  <br />
  <br />

  <h1>Reactive Form Practice</h1>

  <br />
  <br />

  <div>
    <form
      class="text-start w-50 shadow bg-light p-3 mx-auto rounded myRecForm"
      [formGroup]="myReactiveForm"
      (ngSubmit)="formDataSubmit()"
      [ngClass]="myStatusChanges"
    >
      <div formGroupName="userDetails">
        <div class="mb-3">
          <label for="exampleInputEmail2" class="form-label">Username:</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail2"
            aria-describedby="emailHelp"
            placeholder="Enter username..."
            formControlName="username"
          />
          <small
            *ngIf="
              !myReactiveForm.get('userDetails.username')?.valid &&
              myReactiveForm.get('userDetails.username')?.touched
            "
            class="text-danger"
          >
            <span
              *ngIf="myReactiveForm.get('userDetails.username')?.errors?.['required']"
              >Please enter your username</span
            >
            <span
              *ngIf="myReactiveForm.get('userDetails.username')?.errors?.['myValidation']"
              >{{ myReactiveForm.get("userDetails.username")?.value }} is
              already taken!</span
            >
          </small>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword2" class="form-label">Email:</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputPassword2"
            placeholder="Enter email..."
            formControlName="email"
          />

          <small
            *ngIf="
              !myReactiveForm.get('userDetails.email')?.valid &&
              myReactiveForm.get('userDetails.email')?.touched
            "
            class="text-danger"
          >
            <span
              *ngIf="myReactiveForm.get('userDetails.email')?.errors?.['required']"
              >Please enter your email!</span
            >
            <span
              *ngIf="!myReactiveForm.get('userDetails.email')?.errors?.['required'] && myReactiveForm.get('userDetails.email')?.errors?.['practiceValidate']"
              >Please enter your valid email. plzzzzzzzzzzzzzzzz!</span
            >
            <span
              *ngIf="myReactiveForm.get('userDetails.email')?.errors?.['emailNotValid']"
              >{{ myReactiveForm.get("userDetails.email")?.value }} is already
              taken!</span
            >
          </small>
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword3" class="form-label"
            >Verify Email:</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputPassword3"
            placeholder="Enter verify email..."
            formControlName="verify-email"
          />
          <small
            *ngIf="
              !myReactiveForm.get('userDetails.verify-email')?.valid &&
              myReactiveForm.get('userDetails.verify-email')?.touched
            "
            class="text-danger"
          >
            <span
              *ngIf="myReactiveForm.get('userDetails.verify-email')?.errors?.['required']"
              >Please Enter Verify Email!</span
            >
            <span
              *ngIf="!verifyEmail.errors?.['required'] && verifyEmail.errors?.['emailValidator']"
              >Please Enter valid email!</span
            >
            <span
              *ngIf="myReactiveForm.get('userDetails.verify-email')?.errors?.['verifyEmail']"
            >
              {{ myReactiveForm.get("userDetails.verify-email")?.value }} is
              already taken.
            </span>
          </small>
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword2" class="form-label"
            >Two step verification:</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputPassword2"
            placeholder="Enter email..."
            formControlName="two-step-verification"
          />
          <small
            *ngIf="myReactiveForm.get('userDetails.two-step-verification')?.errors?.['required'] && myReactiveForm.get('userDetails.two-step-verification')?.touched"
            class="text-danger"
          >
            Please enter your email!</small
          >
          <small
            *ngIf="
              !myReactiveForm.get('userDetails.two-step-verification')?.valid &&
              myReactiveForm.get('userDetails.two-step-verification')?.touched && !myReactiveForm.get('userDetails.two-step-verification')?.errors?.['required'] && !myReactiveForm.get('userDetails.two-step-verification')?.errors?.['emailNotValid']
            "
            class="text-danger"
          >
            Please enter your valid email!
          </small>
          <small
            *ngIf="!myReactiveForm.get('userDetails.two-step-verification')?.valid && myReactiveForm.get('userDetails.two-step-verification')?.touched && myReactiveForm.get('userDetails.two-step-verification')?.errors?.['emailNotValid'] && !myReactiveForm.get('userDetails.two-step-verification')?.errors?.['required']"
            class="text-danger"
          >
            This mail is already taken!
          </small>
        </div>

        <small
          *ngIf="
            !myReactiveForm.get('userDetails')?.valid &&
            myReactiveForm.get('userDetails')?.touched
          "
          class="text-danger"
          >Please fill all username and email!</small
        >
      </div>

      <div class="mb-3 mt-4">
        <label for="course1" class="form-label">Course:</label>
        <select formControlName="course" class="form-control" id="course1">
          <option value="not-select" selected hidden>Select</option>
          <option value="html">HTML</option>
          <option value="css">CSS</option>
          <option value="javascript">JavaScript</option>
          <option value="angular">Angular</option>
        </select>
      </div>

      <div class="radio-button" *ngFor="let gender of genders">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            formControlName="gender"
            id="{{ gender.id }}"
            value="{{ gender.genderType }}"
          />
          <label class="form-check-label" for="{{ gender.id }}">
            {{ gender.genderType }}
          </label>
        </div>
      </div>
      <br />

      <div class="skills" formArrayName="skill">
        <div class="mb-3">
          <label for="skill" class="form-label">Skills:</label>
          <ng-container *ngFor="let skill of skills.controls; index as i">
            <input
              type="text"
              class="form-control mb-2"
              id="skill"
              aria-describedby="emailHelp"
              placeholder="add skill"
              formControlName="{{ i }}"
            />
          </ng-container>
        </div>
        <div class="add-btn">
          <button
            [disabled]="!myReactiveForm.controls['skill'].valid"
            type="button"
            class="btn btn-success"
            (click)="addSkill()"
          >
            Add Skill
          </button>

          &nbsp;&nbsp;

          <button
            [attr.disabled]="removeBtnAble ? true : null"
            type="button"
            class="btn btn-danger"
            (click)="removeSkill()"
          >
            Remove Skill
          </button>
        </div>
      </div>

      <br />

      <div class="text-center">
        <button
          [disabled]="!myReactiveForm.valid"
          type="submit"
          class="btn btn-primary w-25"
        >
          Submit
        </button>

        &nbsp;&nbsp;

        <button
          [disabled]="(!myReactiveForm.get('userDetails.username')?.valid && myReactiveForm.get('userDetails.username')?.errors?.['required']) 
          && 
          (!myReactiveForm.get('userDetails.email')?.valid && myReactiveForm.get('userDetails.email')?.errors?.['required'])
          && 
          (!myReactiveForm.get('userDetails.verify-email')?.valid && myReactiveForm.get('userDetails.verify-email')?.errors?.['required']) 
          && 
          (!myReactiveForm.get('userDetails.two-step-verification')?.valid && myReactiveForm.get('userDetails.two-step-verification')?.errors?.['required'])
          &&
          (!myReactiveForm.get('skill')?.valid)"
          class="btn btn-warning"
          type="button"
          (click)="onResetForm()"
        >
          Reset
        </button>
      </div>
    </form>
  </div>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>
