<div class="container text-center p-0" >
    <div class="img">
        <img class="img w-100" [style]="'height:300px; object-fit:cover; border-radius:8px;'"
            src="https://cdn.dnaindia.com/sites/default/files/styles/full/public/2016/11/07/517257-2016-toyota-fortuner.jpg"
            alt="">
    </div>
    <h1 class="mt-3 mb-2">Land Toyota</h1>
    <p [style]="'text-align:justify;'">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste nihil voluptatum vel quo reprehenderit enim, rem
        eum ipsum exercitationem veniam amet temporibus tenetur et nobis alias commodi, aliquam voluptates magnam
        dolorum placeat sequi vero. Iusto quas eos vitae blanditiis deserunt provident rerum eius alias, saepe quam
        eaque sunt officia beatae id, commodi, ad a quidem sequi dolor nulla? Numquam nihil sapiente recusandae eligendi
        beatae repellendus temporibus incidunt iusto autem debitis sunt amet accusantium officia doloremque ex saepe
        explicabo possimus, in ut. Deserunt quam accusantium impedit eum eveniet, numquam, provident veniam obcaecati,
        sit dolore vitae hic neque. Libero, eaque quidem. Nihil.
    </p>
</div>
