<div class="container text-center border border-secondary p-5">
    <h1 class="">MOBILE</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste nihil voluptatum vel quo reprehenderit enim, rem eum ipsum exercitationem veniam amet temporibus tenetur et nobis alias commodi, aliquam voluptates magnam dolorum placeat sequi vero. Iusto quas eos vitae blanditiis deserunt provident rerum eius alias, saepe quam eaque sunt officia beatae id, commodi, ad a quidem sequi dolor nulla? Numquam nihil sapiente recusandae eligendi beatae repellendus temporibus incidunt iusto autem debitis sunt amet accusantium officia doloremque ex saepe explicabo possimus, in ut. Deserunt quam accusantium impedit eum eveniet, numquam, provident veniam obcaecati, sit dolore vitae hic neque. Libero, eaque quidem. Nihil.
    </p>
</div>