<div class="container p-5 text-center border border-secondary">
    <h1 class="text-success mb-3" [style]="'font-size:70px;'">LOGIN FORM</h1>
    <h4>Please Sign Up</h4>
    <br>
    <br>
    <div class="col-md-4 mx-auto">
        <input type="text" class="form-control col-md-6 mx-auto " [style]="'font-size:22px;'" placeholder="Username">
        <br>
        <input type="password" class="form-control col-md-6 mx-auto" [style]="'font-size:22px;'" placeholder="Password">
        <br>
        <input type="checkbox" id="check" class="form-check-input me-1">
        <label for="check">Remember Me</label>
        <br>
        <br>
        <button type="button" class="btn btn-success px-5 py-1" routerLink="/home" [style]="'font-size:20px;'">Sign in</button>

        <br>
        <br>
        <br>

        <p class="text-secondary text-opacity-75">&copy;copyright 2022</p>
    </div>

</div>