input.ng-invalid.ng-touched {
  border: 1px solid red;
  box-shadow: inset 0px 0px 10px rgba(255, 0, 0, 0.46);
}

select.ng-pristine.ng-touched {
  border: 1px solid red;
  box-shadow: inset 0px 0px 10px rgba(255, 0, 0, 0.46);
}

.myReactiveForme.INVALID {
  border: 1px solid red;
  box-shadow: 0px 0px 25px rgba(255, 0, 0, 0.653) !important;
}

.myReactiveForme.PENDING {
  border: 1px solid rgb(238, 255, 0);
  box-shadow: 0px 0px 25px rgba(238, 255, 0, 0.653) !important;
}

.myReactiveForme.VALID {
  border: 1px solid green;
  box-shadow: 0px 0px 25px rgba(0, 128, 0, 0.653) !important;
}
