<div class="container border p-5 text-center">
  <h1>Reactive Form</h1>

  <br />
  <br />

  <form
    class="w-50 rounded shadow text-start p-3 mx-auto bg-light myReactiveForme"
    [formGroup]="myRecForm"
    (ngSubmit)="myFormSubmit()"
    [ngClass]="myStatus"
  >
    <div class="goruping" formGroupName="userDetails">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          formControlName="username"
          placeholder="Enter username"
        />
        <small
          class="text-danger"
          *ngIf="
            !myRecForm.get('userDetails.username')?.valid &&
            myRecForm.get('userDetails.username')?.touched
          "
        >
          <span
            *ngIf="myRecForm.get('userDetails.username')?.errors?.['required']"
            >Please enter your username!</span
          >
          <span
            *ngIf="myRecForm.get('userDetails.username')?.errors?.['name_validate']"
            >{{ myRecForm.get("userDetails.username")?.value }} is not
            allowed!</span
          >
        </small>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputPassword1"
          formControlName="email"
          placeholder="Enter email"
        />
        <small
          *ngIf="
            !myRecForm.get('userDetails.email')?.valid &&
            myRecForm.get('userDetails.email')?.touched
          "
          class="text-danger"
        >
          <span *ngIf="myRecForm.get('userDetails.email')?.errors?.['required']"
            >Please enter your email!</span
          >
          <span
            *ngIf="myRecForm.get('userDetails.email')?.errors?.['email-valid']"
            >{{ myRecForm.get("userDetails.email")?.value }} is not allow</span
          >
        </small>
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword3" class="form-label"
          >Verified Email</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleInputPassword3"
          formControlName="verified-email"
          placeholder="Enter verified email"
        />
        <small 
        *ngIf="!myRecForm.get('userDetails.verified-email')?.valid && myRecForm.get('userDetails.verified-email')?.touched"
        class="text-danger"> 
        <small
          *ngIf="myRecForm.get('userDetails.verified-email')?.errors?.['required']"
        >Please enter your email </small>


        <small
          *ngIf="myRecForm.get('userDetails.verified-email')?.errors?.['emailNotAllowed']"
        >
          {{myRecForm.get('userDetails.verified-email')?.value}} is not allowed!
        </small>
      </small>
      </div>
    </div>

    <div class="selector">
      <label for="select">Select course</label>
      <select name="" id="select" class="form-control" formControlName="course">
        <option value="select" selected hidden>Select</option>
        <option value="html">HTML</option>
        <option value="css">CSS</option>
        <option value="javascript">JAVASCRIPT</option>
        <option value="angular">ANGULAR</option>
      </select>
    </div>
    <br />
    <div class="form-checkbox">
      <div class="form-check" *ngFor="let radioData of radioBtn">
        <input
          class="form-check-input"
          type="radio"
          id="{{ radioData.id }}"
          value="{{ radioData.value }}"
          formControlName="gender"
        />
        <label class="form-check-label" for="{{ radioData.id }}">
          {{ radioData.value }}
        </label>
      </div>
    </div>
    <br />

    <div class="form-checkbox">
      <div class="mb-3" formArrayName="skills">
        <label class="form-label"> Skills </label>

        <ng-container *ngFor="let arrData of skills.controls; index as i">
          <input
            class="form-control mb-2"
            type="text"
            placeholder="Skill {{ i + 1 }}"
            [formControlName]="i"
          />
        </ng-container>
      </div>

      <button
        class="btn btn-success btn-sm"
        type="button"
        [disabled]="!skills.valid"
        (click)="onAddData()"
      >
        Add Skill
      </button>
    </div>

    <br />

    <!-- *ngIf="myRecForm.valid" -->
    <button [disabled]="!myRecForm.valid" type="submit" class="btn btn-primary">
      Submit
    </button>
  </form>
</div>
