<div class="container bg-warning text-center">
  <h1 class="pt-4">Subject Component</h1>
  <br />
  <h3>User name: <strong class="text-primary">{{userName}}</strong></h3>

  <br />
  <br />

  <div class="row g-3">
    <div class="col-md-6">
      <app-sub-component [placeHolderText]="'Username'"></app-sub-component>
    </div>
    <div class="col-md-6">
      <app-sub-component2 [placeHolderText]="'Username'"></app-sub-component2>
    </div>
    <div class="col-md-6">
      <app-sub-component3 [placeHolderText]="'Username'"></app-sub-component3>
    </div>
    <div class="col-md-6">
      <app-sub-component4 [placeHolderText]="'Username'"></app-sub-component4>
    </div>
  </div>

  <br />
  <br />
</div>
