<div class="w-100 bg-light rounded border shadow p-3">
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et voluptatem nisi
    consequatur aspernatur, laborum illum magnam. Tempora corporis inventore
    ipsam?
  </p>
  <button type="button" (click)="btnClick()" class="btn btn-success">
    Click and Subscribe Newsletter
  </button>
</div>

<br />

<div class="w-100 bg-light rounded border shadow p-3">
  <h3>Mobile</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et voluptatem nisi
    consequatur aspernatur, laborum illum magnam. Tempora corporis inventore
    ipsam?
  </p>
  <button type="button" (click)="selectMass()" class="btn btn-success">
    Select Mobile
  </button>
</div>
