<div class="container p-0">
  <header>
    <nav>
      <ul class="nav nav-tabs p-3 bg-secondary bg-opacity-50">
        <li class="nav-item">
          <a
            href=""
            class="nav-link"
            routerLink="./home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            href=""
            class="nav-link"
            routerLink="./about"
            routerLinkActive="active"
            >About Us</a
          >
        </li>
        <li class="nav-item">
          <a
            href=""
            class="nav-link"
            routerLink="./products"
            routerLinkActive="active"
            >Products</a
          >
        </li>
        <li class="nav-item">
          <a
            href=""
            class="nav-link"
            routerLink="./contacts"
            routerLinkActive="active"
            >Contacts</a
          >
        </li>
        <li class="nav-item">
          <a
            href=""
            class="nav-link"
            routerLink="./buy-now"
            routerLinkActive="active"
            >Buy Now</a
          >
        </li>
        <li class="nav-item">
          <a
            href=""
            class="nav-link"
            routerLink="./exercise"
            routerLinkActive="active"
            >Exercise</a
          >
        </li>
        <li class="nav-item">
          <a
            href=""
            class="nav-link"
            routerLink="./get-api"
            routerLinkActive="active"
            >Get Api</a
          >
        </li>
        <li class="nav-item">
          <a
            href=""
            class="nav-link"
            routerLink="./subject"
            routerLinkActive="active"
            >Subject</a
          >
        </li>
        <li class="nav-item">
          <a
            href=""
            class="nav-link"
            routerLink="./hooks"
            routerLinkActive="active"
            >Hooks</a
          >
        </li>
        <li class="nav-item">
          <a
            href=""
            class="nav-link"
            routerLink="./viewChild"
            routerLinkActive="active"
            >View Child</a
          >
        </li>
        <li class="nav-item">
          <a
            href=""
            class="nav-link"
            routerLink="./pipe"
            routerLinkActive="active"
            >Pipe</a
          >
        </li>
        <li class="nav-item">
          <a
            href=""
            class="nav-link"
            routerLink="fdfldfk"
            routerLinkActive="active"
            >Not found</a
          >
        </li>
      </ul>
    </nav>
  </header>
</div>
