<div class="container w-100">
  <div class="addData mb-5 w-50 mx-auto">
    <div class="row">
      <div class="col-md-10">
        <input
          class="form-control"
          type="text"
          #inputData
          placeholder="Enter name..."
          [style]="'font-size:20px; font-weight:600;'"
        />
      </div>
      <div class="col-md-2">
        <button
          class="btn btn-success px-5"
          type="button"
          (click)="onAddData(inputData)"
          [style]="'font-size:20px;'"
        >
          Add
        </button>
      </div>
    </div>
  </div>

  <div class="showData w-75 mx-auto">
    <table
      class="table table-striped table-dark rounded"
      [style]="'overflow:hidden;'"
    >
      <thead class="table-dark h4">
        <tr>
          <th class="text-start">Name</th>
          <th class="text-end">Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr class="h5" *ngFor="let data of arr; index as i">
          <td class="text-start" [style]="'padding-top: 13px;'">{{data.name}}</td>
          <td class="text-end">
            <button class="btn btn-danger px-5" type="button" (click)="removeBtn(i)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
