<div class="p-3 text-center border bg-light p-3 rounded h-100">
  <input
    type="text"
    class="form-control w-100 mb-4 h4"
    [style]="'font-size:20px;'"
    placeholder="Create User..."
    #user
  />

  <button
    type="button"
    class="btn btn-success px-4 text-uppercase"
    (click)="userAdd(user)"
  >
    Create
  </button>

  <br />
  <br />

  <h5 class="text-start" *ngIf="userData">
    Total user:
    <strong class="text-success">{{ userDataArr.length }}</strong>
  </h5>
</div>
